@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: url(../img/headerBack2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.grid__layout {
	display: grid;
	grid-template-columns: repeat(3,33.3%);
	grid-template-areas: 
	"header header header"
	"hero hero hero"
	"footer footer footer";
}


/* Header */
.header {
	grid-area: header;
	margin: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
}

.header ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin: 0 0.7rem;
}

.header ul li a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: #bf78ff;
	padding: 2px 4px;
}

.header__logo img {
	width: 3rem;
	animation: animate_logo 5s 1;
	-moz-animation: animate_logo 5s 1;
	-webkit-animation: animate_logo 5s 1;
	-o-animation: animate_logo 5s 1;
}

/* Contenido */
.hero {
	grid-area: hero;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	justify-content: center;
	background-image: url(../img/security-back.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	position: relative;
	padding: 2rem 0;
}

.hero__articulos {
	max-width: 80%;
	margin: 0.5rem;
	color: #fafafa;
	border: solid 2px;
	border-color: cadetblue;
	background: linear-gradient(302deg, rgba(6,212,232,0.9) 31%, rgba(0,0,255,0.9) 100%);
	border-radius: 10px;
	overflow: hidden;
}

.hero__articulos h3 {
	font-weight: 600;
	font-size: 1.2rem;
	margin: 1rem 0;
	text-align: center;
}

.hero__articulos p {
	text-align: justify;
	margin: 1rem;
}

/* Footer */
.footer {
	grid-area: footer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 2rem;
}

.footer ul {
	display:  flex;
	list-style: none;
}

.footer li a, .footer__contacto a {
	display: flex;
	text-decoration: none;
	margin: 0 0.5rem;
}

.footer__contacto {
	display: flex;
	align-items: center;
}

#contacto {
	font-size: 1rem;;
	font-weight: 600;
	color: #bf78ff;
	padding: 2px 4px;
}

.footer img {
	width: 2rem;
}

.stickyWhatsapp img {
	z-index: 100;
	position: fixed;
	width: 3rem;
	right: 1rem;
	bottom: 5rem;
}

@keyframes animate_logo {
	0% {transform: rotate(0deg);left:0px;}
	25% {transform: rotate(20deg);left:0px;}
	50% {transform: rotate(0deg);left:500px;}
	55% {transform: rotate(0deg);left:500px;}
	70% {transform: rotate(0deg);left:500px;}
	100% {transform: rotate(-360deg);left:0px;}
}

@media all and (min-width: 768px) {
	/* Header */
	.header {
		margin: 0.5rem 2rem;
	}

	.header ul li a {
		font-size: 1.3rem;
		transition: all 500ms;
	}

	.header ul li a:hover {
		background-color: rgba(230,230,230);
		outline: solid 1px;
	}

	.header__logo img {
		width: 4rem;
	}

	/* Contenido */
	.hero {
		padding-top: 3rem;
	}

	.hero__articulos {
		margin: 1.5rem;
		max-width: 30%;
		transition: all 250ms;
	}

	.hero__articulos:hover {
		-webkit-box-shadow: 0px 0px 54px 8px rgba(0,0,0,0.82);
		-moz-box-shadow: 0px 0px 54px 8px rgba(0,0,0,0.82);
		box-shadow: 0px 0px 54px 8px rgba(0,0,0,0.82);	
		transform: scale(1.05);
	}

	.hero__articulos h3 {
		font-size: 2rem;
	}

	/* Footer */
	.footer {
		margin: 1rem;
	}

	#contacto {
		font-size: 1.3rem;;
		transition: all 500ms;
	}

	#contacto:hover {
		background-color: rgba(230,230,230);
		outline: solid 1px;
	}

	.footer__contacto img {
		margin-right: 0.5rem;
	}

	.stickyWhatsapp img {
		width: 3.5rem;
	}
}